*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.backup

# Documentation
docs/build
docs/*.rst
docs/_build/
docs/sphinx.log

tests/.vagrant/*

# Window File Explorer
desktop.ini

# Mac OS X Finder
.DS_Store

# PyCharm
.idea
